---
const { color, titleSection, subtitle, btnuno, btndos } = Astro.props;
const textColor = `text-${color}`;
---

<section
  data-header-color={color}
  class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
>
  <div class="relative z-25 h-full flex flex-col">
    <div>
      <h2 class={`${textColor} pt-40 text-[40px]`}>{titleSection}</h2>
      <p class={`${textColor}  underline text-sm`}>
        {subtitle}
      </p>
    </div>
    <footer class="text-white mb-20 flex flex-col flex-grow justify-end">
      <div class="gap-x-6 flex mx-auto">
        <a
          class="border-black bg-gray-600 text-white text-center rounded px-6 py-2 inline-block transition-colors
            hover:text-black hover:bg-white"
          href=""
        >
          {btnuno}
        </a>
        <a
          class="bg-white text-black text-center rounded px-6 py-2 inline-block
            hover:text-white transition-colors hover:bg-black"
          href=""
        >
          {btndos}
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-fullñ w-full">
    <slot name="background" />
  </div>
</section>
